.div1Main{
   
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
    margin: auto;
    background-color:burlywood ;
    text-align: center;
    width: 80%;
}
    
/* .div2Inner{
    
    ;
} */
.div1Inner>img{
width: 20rem;
height: 24rem;
}

video{
    padding-bottom: 40px;
    margin-left: 10%;   
}
.yellowBar{
    background-color: yellow;
    text-align: center;
    font-size: x-large;
    font-weight:900;
    font-style:initial;
}